[[source]]
name = "pypi"
url = "https://pypi.python.org/simple/"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django-pyodbc-azure = "*"
django = "==2.1.15"
djangorestframework = "*"
pyjwt = "*"
django-seed = "*"
pillow = "*"
faker = "*"
psutil = "*"
django-cors-headers = "*"
pip = "*"
setuptools = "*"
mod-wsgi = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
